#if(${operation.getAllField()} < 0)
#if(${operation.getField()} < 0) 
#if (${operation.returnTypePrimitive})
${operation.simpleReturnTypeForPrimitive} retObj = new ${operation.simpleReturnTypeForPrimitive}(finalStringValue);
	 return retObj.${operation.simpleReturnType}Value();
		
#else
	   
         return finalStringValue;

#end 
#else
#if(${table.getTableConfig().bConfidentiality()} == true)
       opDO.set$!{finalRet}(bytesToString);
          return opDO;
#else 
        return (${operation.simpleReturnType}) getSqlMapClientTemplate().queryForObject("${operation.mappedStatementId}", ${paramName});
#end
#end
#else
	 #if(${table.getTableConfig().bConfidentiality()} == true)
        opDO.set$!{finalRet}(bytesToString);
          return opDO;
#else 
        return (${operation.simpleReturnType}) getSqlMapClientTemplate().queryForObject("${operation.mappedStatementId}", ${paramName});
#end
#end